<Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly }">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <h3>NotFound</h3>

        Why wasn't this page found?

        We asked some leading economists.

        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Stagflation</td>
                    <td>The cost of pages rose drastically, while the page production rate slowed down.</td>
                </tr>
                <tr>
                    <td>General economics</td>
                    <td>There was no market for it.</td>
                </tr>
                <tr>
                    <td>Liquidity traps</td>
                    <td>We injected some extra money into the technology team but there was little or no interest so they simply kept it, thus failing to stimulate the page economy.</td>
                </tr>
                <tr>
                    <td>Pareto inefficiency</td>
                    <td>There exists another page that will make everyone better off without making anyone worse off.</td>
                </tr>
                <tr>
                    <td>Supply and demand</td>
                    <td>Demand increased and a shortage occurred.</td>
                </tr>
                <tr>
                    <td>Classical economics</td>
                    <td>There is no such page. We are not going to interfere.</td>
                </tr>
                <tr>
                    <td>Keynesian economics</td>
                    <td>Aggregate demand for this page did not necessarily equal the productive capacity of the website.</td>
                </tr>
                <tr>
                    <td>Malthusianism</td>
                    <td>Unchecked, exponential page growth outstripped the pixel supply. There was a catastrophe, and now the population is at a lower, more sustainable level.</td>
                </tr>
                <tr>
                    <td>Neo-Malthusianism</td>
                    <td>To avoid unchecked, exponential page growth outstripping the pixel supply and leading to an inevitable catastrophe, we prevented this page from being conceived.</td>
                </tr>
                <tr>
                    <td>Marxism</td>
                    <td>The failure of this page to load is a consequence of the inherent contradictions in the capitalist mode of production.</td>
                </tr>
                <tr>
                    <td>Laissez Faire Capitalism</td>
                    <td>We know this page is needed, but we can't force anyone to make it.</td>
                </tr>
                <tr>
                    <td>Monetarism</td>
                    <td>The government has limited the number of pages in circulation.</td>
                </tr>
                <tr>
                    <td>Efficient Markets Hypothesis</td>
                    <td>If you had paid enough for the page, it would have appeared.</td>
                </tr>
                <tr>
                    <td>Moral Hazard</td>
                    <td>Showing you this page would only encourage you to want more pages.</td>
                </tr>
                <tr>
                    <td>Tragedy of the Commons</td>
                    <td>Everyone wanted to view this page, but no-one was willing to maintain it.</td>
                </tr>
                <tr>
                    <td>Game theory</td>
                    <td>By not viewing this page you help everyone else get better pages.</td>
                </tr>
                <tr>
                    <td>Mercantilism</td>
                    <td>The page is hosted by a foreign web server and is therefore banned to ensure the supremacy of our own software.</td>
                </tr>
                <tr>
                    <td>Trickle-down</td>
                    <td>High taxes on content publishers prevented them hiring the person who would have written this page.</td>
                </tr>
                <tr>
                    <td>Speculative bubble</td>
                    <td>The page never actually existed and was fundamentally impossible, but everyone bought into it in a frenzy and it's all now ending in tears.</td>
                </tr>
                <tr>
                    <td>Socialism</td>
                    <td>If you were to get the page you wanted you might get a better page than someone else, which would be unfair. This way at least everyone gets the same.</td>
                </tr>
                <tr>
                    <td>Behavioural economics</td>
                    <td>The influence of psychological factors caused you to act in a manner that would not be expected of a purely rational actor.</td>
                </tr>
                <tr>
                    <td>Theory of the second best</td>
                    <td>The best outcome was unachievable, so you have arrived here instead.</td>
                </tr>
            </tbody>
        </table>
    </NotFound>
</Router>
